@import url("fonts.css");

body {
    background: black;
}
ol, a, h1 {
    color: white;
}
a {
    font-size: 16px;
    text-decoration: none;
    border: solid pink 2px;
    border-radius: 5px;
    padding: 5px;
    &:hover {
        text-decoration: underline;
    }
}
